@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito-sans.ttf");
}

@font-face {
    font-family: "Nunito Bold";
    src: url("/fonts/NunitoSans_10pt-Bold.ttf")
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Tilt Neon";
    src: url("/fonts/TiltNeon-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf")
}

@font-face {
    font-family: "Forgotten";
    src: url("/fonts/forgotten.otf");
}

@font-face {
    font-family: "Kenyan";
    src: url("/fonts/kenyan-rg.otf")
}