.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.topbar > .logo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    color: var(--mc);
    vertical-align: middle;
    text-decoration: none;
}

.topbar > .logo > img {
    vertical-align: middle;
    height: 15%;
    width: 15%;
}

.topbar > .logo > span {
    vertical-align: middle;
    text-decoration: none;
    color: var(--mc);
    margin-left: 15px;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: var(--c3);
}

.topbar > .buttons {
    position: absolute;
    right: 5%;
    padding-right: 5%;
    text-decoration: none;
}

.topbar > .buttons > a > button {
    width: 150px;
    cursor: pointer;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
}

.topbar > .buttons > a {
    text-decoration: none;
}

.topbar > .buttons > a > .tbl-login {
    margin-right: 20px;
    background-color: transparent;
    border: 2px solid var(--c5);
    font-family: "Raleway", sans-serif;
    color: var(--c5);
}

.topbar > .buttons > a > .tbl-start {
    background-color: var(--c2);
    color: black;
    border: none;
    font-family: "Poppins", sans-serif;
}